{% extends 'cms/base.html' %}
{% block head %}
{% endblock %}
{% block title %}
个人信息页面
{% endblock %}
{% block page_title %}
个人信息页面
{% endblock %}
{% block main %}
<table class="table table-bordered">
    <tr>
        <td>用户名</td>
        <td>{{ g.cms_user.username }}</td>
    </tr>
    <tr>
        <td>邮箱</td>
        <td>{{g.cms_user.email  }}</td>
    </tr>
    <tr>
        <td>角色</td>
        <td>暂未实现</td>
    </tr>
    <tr>
        <td>权限</td>
        <td>暂未实现</td>
    </tr>
    <tr>
        <td>加入时间</td>
        <td>{{ g.cms_user.join_time }}</td>
    </tr>
</table>
{% endblock %}